/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-dark);
  padding: 15px 20px;
  color: var(--text-color);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 100px;
}


.desktopNav {
  display: flex;
}

/* Oculta el menú hamburguesa en pantallas grandes */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
