/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-dark);
  margin: 0;
  padding-block: 15px;
  color: var(--text-color);
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.logo img {
  width: 100px;
}


.desktopNav {
  display: flex;
}

/* Oculta el menú hamburguesa en pantallas grandes */
.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
