.tableWrapper {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 100%;
}

.tableScroll {
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
  color: #333;
}

.th,
.td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.th {
  background-color: #fafafa;
  font-weight: 600;
  font-size: 0.95rem;
  color: #444;
  cursor: pointer;
  position: relative;
}

.th:hover {
  background-color: #f1f1f1;
}

.tr:hover {
  background-color: #f0f0f0; /* Color sutil al hacer hover */
  cursor: pointer; /* Puntero tipo link */
  transition: background-color 0.2s ease;
}

.sortIcon {
  margin-left: 8px;
  font-size: 0.85rem;
  opacity: 0.7;
}

.sorted .sortIcon {
  opacity: 1;
  color: #d32f2f; /* rojo material para destacar ordenamiento */
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9rem;
}

.pagination select {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 0.9rem;
  transition: border 0.2s ease;
}

.pagination select:focus,
.pagination select:active {
  border: 1px solid var(--text-color-red);
  outline: none;
  box-shadow: none;
}

.pagination button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #b71c1c;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 0.5rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pageButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}

.pageButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pageRange {
  font-size: 0.95rem;
  color: #555;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.searchInput {
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  min-width: 200px;
  outline: none;
  transition: border-color 0.2s ease;
}

.searchInput:focus {
  border-color: var(--text-color-red); /* o cualquier color que uses */
}