.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  width: 320px;
  margin: auto;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.img {
  max-width: 320px;
  max-height: 320px;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
}

.date {
  font-size: 20pt;
  margin: 0;
}

.spots {
  font-size: 16pt;
}

.button {
  background-color: var(--primary-dark);
  color: white;
  border: none;
  padding: 10px 16px;
  margin-bottom: 0;
  border-radius: 0px 0px 12px 12px;
  cursor: pointer;
  font-size: 24pt;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover,
.button:active {
  background: oklch(0.448 0.119 151.328);
}

.slots {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
}

.available {
  background-color: #e6ffed;
  color: #1f7a1f;
}

.full {
  background-color: #ffe6e6;
  color: #b30000;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
