#root {
  width: 100%;
  margin: 0; 
  text-align: center;   
}

:root {
  --primary: #a20c3b; /* Rojo escarlet */
  --primary-dark: #60001e; /* Rojo */
  --text-color: #ffffff;
  --text-color-hover: #d3d3d3;
}