#root {
  width: 100%;
  margin: 0; 
  text-align: center;   
}

:root {
  --primary: #a20c3b; /* Rojo escarlet */
  --primary-dark: #60001e; /* Rojo */
  --text-color: #ffffff;
  --text-color-hover: #d3d3d3;
  --border-inactive: #ccc;
  --text-color-red: #720f0f;
  --success: oklch(44.8% 0.119 151.328);
}
.container{
  padding-top: 100px;
  min-height:calc(100vh - 144px);
}