.titleContent {
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.titleContent h1{
  margin-top: 20px;
  margin-left: 25px;
}
.titleContent span {
  background-color: var(--text-color-red);
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.titleContent span:hover {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  color: var(--text-color-red);
}
.titleContent span:active {
  transform: scale(1.05);
  transition: transform 0.2 ease;
}